<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style4.css">
    <title>Document</title>
</head>
<body>
    <div class="tabel">
                <img src="https://scontent.fjrs27-1.fna.fbcdn.net/v/t1.6435-9/192882024_105769938382721_8408343321821855858_n.jpg?_nc_cat=111&ccb=1-6&_nc_sid=09cbfe&_nc_ohc=TnL4AC26VisAX9TD_EC&_nc_ht=scontent.fjrs27-1.fna&oh=00_AT8RE9i9iNtJZixao4dMV1TeOwNgobLc97QaRwHhR2JAWQ&oe=62A16603"alt="logo" width="290px" height="290px">
   
    </div>
    <div class="half1"> 

<div class="imgs">
            <img id="img1" src="https://scontent.fjrs26-1.fna.fbcdn.net/v/t39.30808-6/275078113_275745421385171_482257360421814083_n.jpg?_nc_cat=104&ccb=1-6&_nc_sid=730e14&_nc_ohc=_323oDYh0J8AX9eG_Uy&_nc_ht=scontent.fjrs26-1.fna&oh=00_AT_z1V14I8sJSaPmBIrud74Pnlup0RSR7qWg5B1qSQOT0g&oe=62801BB6" alt="backgrount" >        
        </div>
        <div class="text">
            <h1><em>Our dear customer</em></h1>
<h2><em> Every time you visit the restaurant, you get a 5% discount. </em></h2>
<img id="img2" src="https://public.od.cm4allbusiness.de/.cm4all/uro/BEODP0AVB5Y0/Buttons-Logos/.Gaestehaus-Zeranka-Abschlag5.jpg/scale?_=155213f8d48" alt="discount %5" >

</div>
    </div>
    <!--  -->
    <div class="half2">
        <h1><em> You will get a 5% discount, "if your order exceeds 200₪".</em></h1>
        <div class="aaimg">
            <img id="imgs1" src="https://scontent.fjrs26-1.fna.fbcdn.net/v/t39.30808-6/277576008_284135140546199_8546557796955498203_n.jpg?_nc_cat=108&ccb=1-6&_nc_sid=730e14&_nc_ohc=y-Tv4Cn1KfIAX_K8wv2&_nc_ht=scontent.fjrs26-1.fna&oh=00_AT9_-IA0Ts2jt-DWWIpmuazU-7BG-5lKHeUcVkxjm0PCgQ&oe=6280D075"alt="food from the menu" width="270px" height="290px">
            <img id="imgs1" src="https://scontent.fjrs26-1.fna.fbcdn.net/v/t39.30808-6/278575606_296410599318653_244424212274445729_n.jpg?_nc_cat=102&ccb=1-6&_nc_sid=730e14&_nc_ohc=1GB2TQ1wsNYAX9vBVNP&_nc_ht=scontent.fjrs26-1.fna&oh=00_AT_gYFK2uyAtpythXEvr7g65kjj-k2njhcWN7Dxa1wo2fw&oe=62848E24"alt="food from the menu" width="270px" height="290px">
            <img id="imgs1" src="https://scontent.fjrs26-1.fna.fbcdn.net/v/t39.30808-6/279113963_295766962716350_2338622546012597121_n.jpg?_nc_cat=111&ccb=1-6&_nc_sid=730e14&_nc_ohc=vJ04kv2JApwAX-3Y24c&_nc_ht=scontent.fjrs26-1.fna&oh=00_AT8oKP82YKY61qPbftK4M0QDkysoysbBbqzE6s644JYOaQ&oe=6281B7FD"alt="food from the menu" width="270px" height="290px">
            <img id="imgs1" src="https://scontent.fjrs26-1.fna.fbcdn.net/v/t39.30808-6/278659199_291375333155513_8143062899297044153_n.jpg?_nc_cat=105&ccb=1-6&_nc_sid=8bfeb9&_nc_ohc=LeWkCAvu1poAX_aWSyc&_nc_ht=scontent.fjrs26-1.fna&oh=00_AT_MrIuD9wkzVAHfDfAj7BG_awnjSqzJrfBXfCiCLVkFJw&oe=6281992C"alt="food from the menu" width="270px" height="290px">
            <img id="imgs1" src="https://scontent.fjrs26-1.fna.fbcdn.net/v/t39.30808-6/279145895_300654282227618_6366233948624680438_n.jpg?_nc_cat=108&ccb=1-6&_nc_sid=730e14&_nc_ohc=qWFiAHc7B2UAX86hBxS&_nc_ht=scontent.fjrs26-1.fna&oh=00_AT8RdUN-P3iIPxibekmJlaDd1roc1XmesmDIRwRsygTjFg&oe=6280215E"alt="food from the menu" width="270px" height="290px">
            <img id="imgs1" src="https://scontent.fjrs26-1.fna.fbcdn.net/v/t39.30808-6/280293161_306965664929813_5939474317938291454_n.jpg?_nc_cat=106&ccb=1-6&_nc_sid=730e14&_nc_ohc=T6h44NapSfQAX-01GwX&_nc_ht=scontent.fjrs26-1.fna&oh=00_AT-K4niSud6ZQNxKV_t8kZTP4jtd6txmXZwXBJ5yA1ayPg&oe=62809F51"alt="food from the menu" width="290px" height="290px">
        </div>
       
    </div>
</body>
</html>