<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <link rel="stylesheet" href="/style.css"/>
</head>
<body>

    <div class="Forgot_Password">
        <h1><em>Forgot Password ?</em></h1>
        <form action="#"method="get">
            <br>
            <p>Enter Your email address or phone number </p><br>
            <input type="email"placeholder="Email or phone">
            
            <input type="Submit" value="Send Recovery link">
            <p class="par">Return to <a href="./index.hbs">Log in</a></p>
        </form>  
    </div>
</body>
</html>