<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <link rel="stylesheet" href="/style.css"/>
</head>
<body>
 <div class="titleB">
                <img src="https://scontent.fjrs27-1.fna.fbcdn.net/v/t1.6435-9/192882024_105769938382721_8408343321821855858_n.jpg?_nc_cat=111&ccb=1-6&_nc_sid=09cbfe&_nc_ohc=TnL4AC26VisAX9TD_EC&_nc_ht=scontent.fjrs27-1.fna&oh=00_AT8RE9i9iNtJZixao4dMV1TeOwNgobLc97QaRwHhR2JAWQ&oe=62A16603"alt="logo" width="290px" height="290px">
        </div>
    <div class="Forgot_Password">
        <h1><em>Forgot Password ?</em></h1>
        <form action="/newPasswordReq"method="post"><!--add passwordUUID to db -->

            <br>
            <p>Enter Your email address </p><br>
            <input type="email" name="email" placeholder="Email or phone">
            
                <input type="Submit" value="Send Recovery link" class="btn"> 
            <p class="par">Return to <a href="/">Log in</a></p>
        </form>  
    </div>
</body>
</html>