<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <link rel="stylesheet" href="/style.css"/>
</head>
<body>
<div class="titleB">
                <img src="https://scontent.fjrs1-2.fna.fbcdn.net/v/t1.6435-9/192882024_105769938382721_8408343321821855858_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=hHrsucq2x8YAX-5y0ST&_nc_ht=scontent.fjrs1-2.fna&oh=00_AT83ijIQnksf24jyNNpTWoWwPwAtYskC8dL09by4MmVhoA&oe=6275E483"alt="logo" width="290px" height="290px">
        </div>
    <div class="Forgot_Password">
        <h1><em>Forgot Password ?</em></h1>
        <form action="#"method="get">
            <br>
            <p>Enter Your email address or phone number </p><br>
            <input type="email"placeholder="Email or phone">
            
            <input type="Submit" value="Send Recovery link">
            <p class="par">Return to <a href="/">Log in</a></p>
        </form>  
    </div>
</body>
</html>