<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
      


    <title>Log_in</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="titleB">
                <img src="https://scontent.fjrs27-1.fna.fbcdn.net/v/t1.6435-9/192882024_105769938382721_8408343321821855858_n.jpg?_nc_cat=111&ccb=1-6&_nc_sid=09cbfe&_nc_ohc=TnL4AC26VisAX9TD_EC&_nc_ht=scontent.fjrs27-1.fna&oh=00_AT8RE9i9iNtJZixao4dMV1TeOwNgobLc97QaRwHhR2JAWQ&oe=62A16603"alt="logo" width="290px" height="290px">
        </div>
  <div class="login">
   <h1><em>Login</em></h1>
   <form action="/auth2/user"method="POST">
   
    <label for=""> <br></label>
        <div class="input-field">

    <input type="email"placeholder="Email"  name="email" > 
    <br />
    <i class="fa fa-user"></i>
    <label for=""> <br></label>
    <div class="input-field">
    <input type="password"placeholder="Password" name="password" id="password">
    <br />
    
            <i class="fa fa-lock" aria-hidden="true"></i>
            <i class="fa fa-eye" id="togglePassword" aria-hidden="true"></i>
    </div>
        
    <p class="par" ><a href="/forgot_pass">Forgot password ?</a></p>
    <input type="Submit" value="Submit" class="btn"> 
   
   </form> 
   <div class="message1">
   {{#if message}}
        <h4>{{message}}</h4>
        {{/if}}
        </div>
   <p class="par" ><br>Don't have an account? <a href="/sign_up">Sign up</a></p>
   <div class="icon">
    <i class="fa fa-facebook-official"></i>
    <i class="fa fa-twitter-square"></i>
    <i class="fa fa-google"></i>
   </div>
  </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/main.js"></script>
<script src="/session.js"></script>

</body>
</html>
