<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
      
{{!-- <script scr="main.js"></script> --}}

    <title>Log_in</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="login">
   <h1><em>Login</em></h1>
   <form action="/auth2/user"method="POST">
    <label for="">Email</label>
    <input type="email"placeholder="Email"  name="email"> 
    <label for="">Password</label>
    <input type="password"placeholder="Password" name="password" id="password">
               <span toggle="#psw" class="fa fa-fw fa-eye field-icon toggle-password"></span>

    <p class="par" ><a href="/forgot_pass">Forgot password ?</a></p>
    <input type="Submit" value="Submit"> 
   
   </form> 
   <div class="message1">
   {{#if message}}
        <h4>{{message}}</h4>
        {{/if}}
        </div>
   <p class="par" style="color: white;"><br>Don't have an account? <a href="/sign_up">Sign up</a></p>
   <div class="icon">
    <i class="fa fa-facebook-official"></i>
    <i class="fa fa-twitter-square"></i>
    <i class="fa fa-google"></i>
   </div>
  </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(".toggle-password").click(function(){
    $(this).toggleClass("fa-eye fa-eye-slash");
    var input =$($(this).attr("toggle"));
    console.log(input);
    if(input.attr("type")=="password"){
        input.attr("type", "text");
    }else{
        input.attr("type","password");
    }
});

</script>

</body>
</html>
