<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
      
{{!-- <script src="main.js">
</script> --}}
<script>
    const togglePassword=document.querySelector("togglePassword");
    const password=document.querySelector("#password");
    togglePassword.addEventListener("click",function(){
        const type=password
        .getAttribute("type")==="password"?"text":"password";
        password.setAttribute("type",type);
        this.classList.toggle("fa-eye-slash");
    })
</script>

    <title>Log_in</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="login">
   <h1><em>Login</em></h1>
   <form action="/auth2/user"method="POST">
   
    <label for="">Email</label>
        <div class="input-field">

    <input type="email"placeholder="Email"  name="email" > 
    <br />
    <i class="fa fa-user"></i>
    <label for="">Password</label>
    <div class="input-field">
    <input type="password"placeholder="Password" name="password" id="password">
    <br />
    
               {{!-- <span toggle="#psw" class="fa fa-fw fa-eye field-icon toggle-password"></span> --}}
                <i class="fa fa-lock" aria-hidden="true"></i>

               <i class="fa fa-eye" id="togglePsssword" hidden="true"></i>
    </div>

    <p class="par" ><a href="/forgot_pass">Forgot password ?</a></p>
    <input type="Submit" value="Submit" class="btn"> 
   
   </form> 
   <div class="message1">
   {{#if message}}
        <h4>{{message}}</h4>
        {{/if}}
        </div>
   <p class="par" style="color: white;"><br>Don't have an account? <a href="/sign_up">Sign up</a></p>
   <div class="icon">
    <i class="fa fa-facebook-official"></i>
    <i class="fa fa-twitter-square"></i>
    <i class="fa fa-google"></i>
   </div>
  </div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(".toggle-password").click(function(){
    $(this).toggleClass("fa-eye fa-eye-slash");
    var input =$($(this).attr("toggle"));
    console.log(input);
    if(input.attr("type")=="password"){
        input.attr("type", "text");
    }else{
        input.attr("type","password");
    }
});

</script>

</body>
</html>
