<html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>menu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/menu.css">
  {{!-- <link rel="stylesheet" href="/style2.css"> --}}

</head>
<body >
    <div class="titleB">
                <img src="https://scontent.fjrs1-2.fna.fbcdn.net/v/t1.6435-9/192882024_105769938382721_8408343321821855858_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=hHrsucq2x8YAX-5y0ST&_nc_ht=scontent.fjrs1-2.fna&oh=00_AT83ijIQnksf24jyNNpTWoWwPwAtYskC8dL09by4MmVhoA&oe=6275E483"alt="logo" width="290px" height="290px">
            <dive class="contant">
        <div class="head"id="part">
            <button class="z"><a href="/home"target="_blank" >Home</a></button>
            <button class="z">Menu</button>
            <button class="z"><a href="/Booking"target="_blank" >Booking</a></button>
            <button class="z"><a href="/visit"target="_blank" >Visit</a></button>
            <button class="z"><a href="https://www.google.com/maps/dir/32.2240512,35.2354304/32.2159963,35.2372675/@32.2200835,35.247805,15z/data=!3m1!4b1!4m4!4m3!1m1!4e1!1m0"target="_blank" >location</a></button>              
            <button class="z"><a href="https://www.facebook.com/Whiteloungepal"target="_blank" class="fa fa-facebook"></a></button>
            <button class="z"><a href="https://www.instagram.com/white_lounge/?hl=en"target="_blank" class="fa fa-instagram"></a></button>

        </div>
    </div>
<div class="div"><img class="img" src="https://backend.roya.tv/imagechanger/Size02Q40R169/images/articles/uT3GI6wMws93eo46kZYEotGvaacvLL9AJKefcMGr.jpeg" alt="sandwich" height="185">
 <form action="/auth4/meal" method="POST">
 <h1><em>Sandwiches</em><br></h1>
 <pre>
 <input type="number"  name="m1" min="0"><label for=""name="M1"> Boneless Chicken    <h4>18</h4></label>
 <input type="number"  name="m2" min="0"><label for=""name="M2"> Chicken Shawarma    <h4>18</h4></label>
 <input type="number"  name="m3" min="0"><label for=""name="M3"> Burger              <h4>18</h4></label>
 <input type="number"  name="m4" min="0"><label for=""name="M4"> Fahita              <h4>18</h4></label>
     </pre>
    </div>
<div class="div"><img src="https://cdn.al-ain.com/images/2017/12/31/80-001743-the-way-of-vegetable-pizza_700x400.jpeg" alt="fish" class="img" height="200">
 <h1><em>Meals</em><br></h1>
<pre>
 <input type="number"  name="m5" min="0"> <label for=""name="M5">Fish                  <h4>80</h4></label>
 <input type="number"  name="m6" min="0"><label for=""name="M6"> Mix Grill             <h4>70</h4></label>
 <input type="number"  name="m7" min="0"><label for=""name="M7"> Chicken Stroganoff    <h4>40</h4></label>
 <input type="number"  name="m8" min="0"><label for=""name="M8"> Fettuccine            <h4>30</h4></label>
 <input type="number"  name="m9" min="0"><label for=""name="M9"> Pizza                 <h4>30</h4></label>
    </pre></div>


<div class="div" ><img class="img" src="https://kitchen.sayidaty.net/uploads/small/2d/2d3ca110e699ced93bfdd6f103ab930c_w750_h750.jpg" alt="drink" height="185">
<h1><em>Drinks</em><br></h1>
<pre>
 <input id="in" type="number"  name="m10" min="0"> <label for=""name="M10">Xl                            <h4>5</h4></label>
 <input id="in" type="number"  name="m11" min="0"> <label for=""name="M11">Fresh Mango                   <h4>10</h4></label>
 <input id="in" type="number"  name="m12" min="0"><label for=""name="M12"> Fresh Lemonada with Mint      <h4>10</h4></label>   
 <input id="in" type="number"  name="m13" min="0"><label for=""name="M13"> Ice Coffee                    <h4>10</h4></label>
    </pre>
    </div>
    <div class="div"><img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5PmxEKh24EqVm5rK7TIMbmGRo73nNFcEGsQ&usqp=CAU" alt="cake" height="170">
<h1><em>Sweet Cake</em><br></h1>
<pre>
 <input type="number"  name="m14" min="0"><label for=""name="M14"> Souffle             <h4>20</h4></label>
 <input  type="number"  name="m15" min="0"><label for=""name="M15"> Waffle             <h4>20</h4></label>
 <input  type="number"  name="m16" min="0"><label for=""name="M16"> Kinder Cake        <h4>20</h4></label>
 <input  type="number"  name="m17" min="0"><label for=""name="M17"> Orea Cake          <h4>20</h4></label>
</pre>
</div>

<div class="div"><img class="img" src="https://modo3.com/thumbs/fit630x300/23207/1434194885/%D8%B9%D9%85%D9%84_%D8%A3%D8%B5%D8%A7%D8%A8%D8%B9_%D8%A7%D9%84%D8%AF%D8%AC%D8%A7%D8%AC.jpg" alt="appetizers" height="165">
<h1><em>Appetizers</em><br></h1>
<pre>
 <input type="number"  name="m18" min="0"><label for=""name="M18"> Chicken Fingers           <h4>25</h4></label>
 <input  type="number"  name="m19" min="0"><label for=""name="M19"> Kubbeh                    <h4>15</h4></label>
 <input  type="number"  name="m20" min="0"><label for=""name="M20"> Potato Fries              <h4>10</h4></label>
 <input  type="number"  name="m21" min="0"><label for=""name="M21"> Garlic Bread              <h4>10</h4></label>
 </pre>
    </div>
    <div class="div"><img class="img" src="https://static1.shasha.ps/cachedImages/resize/740/494/shasha_images/large-411618042159981864-jpg-79914149700118646.jpg" alt="shesha" height="165">
<h1><em>Shisha</em><br></h1>
<pre>
 <input  type="number"  name="m22" min="0"><label for=""name="M22"> Lemon and Mint             <h4>20</h4></label>
 <input  type="number"  name="m23" min="0"><label for=""name="M23"> Melon and Mint             <h4>20</h4></label>
 <input  type="number"  name="m24" min="0"><label for=""name="M24"> Bluebary                   <h4>20</h4></label>
 <input  type="number"  name="m25" min="0"><label for=""name="M25"> Sahm wa Qurfa              <h4>20</h4></label>
 </pre>
    </div>
    <div class="column">
            <input id="submit" type="submit" value="Submit">
            </div>
    </form>

    </body>
    </html>
