<html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>menu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/menu.css">
  {{!-- <link rel="stylesheet" href="/style2.css"> --}}

</head>
<body >
    <div class="titleB">
                <img src="https://scontent.fjrs27-1.fna.fbcdn.net/v/t1.6435-9/192882024_105769938382721_8408343321821855858_n.jpg?_nc_cat=111&ccb=1-6&_nc_sid=09cbfe&_nc_ohc=TnL4AC26VisAX9TD_EC&_nc_ht=scontent.fjrs27-1.fna&oh=00_AT8RE9i9iNtJZixao4dMV1TeOwNgobLc97QaRwHhR2JAWQ&oe=62A16603"alt="logo" width="290px" height="290px">
            <dive class="contant">
        <div class="head"id="part">
            <button class="z"><a href="/home" >Home</a></button>
            <button class="z">Menu</button>
            <button class="z"><a href="/Booking" >Booking</a></button>
            <button class="z"><a href="/visit" >Visit</a></button>
            <button class="z"><a href="https://www.google.com/maps/dir/32.2240512,35.2354304/32.2159963,35.2372675/@32.2200835,35.247805,15z/data=!3m1!4b1!4m4!4m3!1m1!4e1!1m0" >location</a></button>              
            <button class="z"><a href="https://www.facebook.com/Whiteloungepal"target="_blank" class="fa fa-facebook"></a></button>
            <button class="z"><a href="https://www.instagram.com/white_lounge/?hl=en"target="_blank" class="fa fa-instagram"></a></button>

        </div>
    </div>
<div class="div"><img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRd7iVlt-Udu7dFUo2Mlr1p5xURxNNq050gKA&usqp=CAU" alt="sandwich" height="185">
 <form action="/auth4/meal" method="POST">
 <h1><em>Sandwiches</em><br></h1>
 <pre>
 <input type="number"  name="m1" min="0"><label for=""name="M1"> Boneless Chicken    <h4>18 ₪</h4></label>
 <input type="number"  name="m2" min="0"><label for=""name="M2"> Chicken Shawarma    <h4>18 ₪</h4></label>
 <input type="number"  name="m3" min="0"><label for=""name="M3"> Burger              <h4>18 ₪</h4></label>
 <input type="number"  name="m4" min="0"><label for=""name="M4"> Fahita              <h4>18 ₪</h4></label>
     </pre>
    </div>
<div class="div"><img src="https://scontent.fjrs26-1.fna.fbcdn.net/v/t39.30808-6/277739952_285942110365502_1930370243012900274_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=730e14&_nc_ohc=AyielXt5ZScAX_JGPZb&tn=XI_k0_gUsk564iIa&_nc_ht=scontent.fjrs26-1.fna&oh=00_AT-UHy_mNMc8tt6UcfhakDEnOID_G7r7bkZfnc2Q0a8cdw&oe=62948869" alt="fish" class="img" height="200">
 <h1><em>Meals</em><br></h1>
<pre>
 <input type="number"  name="m5" min="0"> <label for=""name="M5">Fish                  <h4>80 ₪</h4></label>
 <input type="number"  name="m6" min="0"><label for=""name="M6"> Mix Grill             <h4>70 ₪</h4></label>
 <input type="number"  name="m7" min="0"><label for=""name="M7"> Chicken Stroganoff    <h4>40 ₪</h4></label>
 <input type="number"  name="m8" min="0"><label for=""name="M8"> Fettuccine            <h4>30 ₪</h4></label>
 <input type="number"  name="m9" min="0"><label for=""name="M9"> Pizza                 <h4>30 ₪</h4></label>
    </pre></div>


<div class="div" ><img class="img" src="https://scontent.fjrs26-1.fna.fbcdn.net/v/t39.30808-6/280036337_306965834929796_3717014882769980933_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=730e14&_nc_ohc=w7QdR2LKgQAAX8j_cF1&_nc_ht=scontent.fjrs26-1.fna&oh=00_AT8isrQ9GPP3m0VMwjE3QkZAmWpDzfpXC4AyWbHfDeuSQQ&oe=6294778D" alt="drink" height="185">
<h1><em>Drinks</em><br></h1>
<pre>
 <input id="in" type="number"  name="m10" min="0"> <label for=""name="M10">Xl                            <h4>5 ₪</h4></label>
 <input id="in" type="number"  name="m11" min="0"> <label for=""name="M11">Fresh Mango                   <h4>10 ₪</h4></label>
 <input id="in" type="number"  name="m12" min="0"><label for=""name="M12"> Fresh Lemonada with Mint      <h4>10 ₪</h4></label>   
 <input id="in" type="number"  name="m13" min="0"><label for=""name="M13"> Ice Coffee                    <h4>10 ₪</h4></label>
    </pre>
    </div>
    <div class="div"><img class="img" src="https://scontent.fjrs26-1.fna.fbcdn.net/v/t39.30808-6/278575606_296410599318653_244424212274445729_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=730e14&_nc_ohc=DM_VW9iVxDkAX_-xEIl&_nc_ht=scontent.fjrs26-1.fna&oh=00_AT9GcHMXkJGTaVNSGI4BnubZCOSDmHdq7pcxUnfzDvxzIw&oe=62946024" alt="cake" height="170">
<h1><em>Sweet Cake</em><br></h1>
<pre>
 <input type="number"  name="m14" min="0"><label for=""name="M14"> Souffle             <h4>20 ₪</h4></label>
 <input  type="number"  name="m15" min="0"><label for=""name="M15"> Waffle             <h4>20 ₪</h4></label>
 <input  type="number"  name="m16" min="0"><label for=""name="M16"> Kinder Cake        <h4>20 ₪</h4></label>
 <input  type="number"  name="m17" min="0"><label for=""name="M17"> Orea Cake          <h4>20 ₪</h4></label>
</pre>
</div>

<div class="div"><img class="img" src="https://scontent.fjrs26-1.fna.fbcdn.net/v/t39.30808-6/278573281_294874226138957_5909072574352959621_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=730e14&_nc_ohc=pOnbVSmbj88AX-0C3qK&_nc_ht=scontent.fjrs26-1.fna&oh=00_AT_bT1YZGHxeoSRu1RkcD4CnvybB2RNVKjgz6TXs2JTpKg&oe=629372B3" alt="appetizers" height="165">
<h1><em>Appetizers</em><br></h1>
<pre>
 <input type="number"  name="m18" min="0"><label for=""name="M18"> Chicken Fingers            <h4>25 ₪</h4></label>
 <input  type="number"  name="m19" min="0"><label for=""name="M19"> Kubbeh                    <h4>15 ₪</h4></label>
 <input  type="number"  name="m20" min="0"><label for=""name="M20"> Potato Fries              <h4>10 ₪</h4></label>
 <input  type="number"  name="m21" min="0"><label for=""name="M21"> Garlic Bread              <h4>10 ₪</h4></label>
 </pre>
    </div>
    <div class="div"><img class="img" src="https://static1.shasha.ps/cachedImages/resize/740/494/shasha_images/large-411618042159981864-jpg-79914149700118646.jpg" alt="shesha" height="165">
<h1><em>Shisha</em><br></h1>
<pre>
 <input  type="number"  name="m22" min="0"><label for=""name="M22"> Lemon and Mint             <h4>20 ₪</h4></label>
 <input  type="number"  name="m23" min="0"><label for=""name="M23"> Melon and Mint             <h4>20 ₪</h4></label>
 <input  type="number"  name="m24" min="0"><label for=""name="M24"> Bluebary                   <h4>20 ₪</h4></label>
 <input  type="number"  name="m25" min="0"><label for=""name="M25"> Sahm wa Qurfa              <h4>20 ₪</h4></label>
 </pre>
    </div>
<div class="order_contain">
            <input class="submit" type="submit" value="Add your order">  
        </form>

    <form action="/auth5/deleteOrder" method="POST">
            <input class="submit" type="submit" value="Cancel your order">
            </form>

             <form action="/auth5/deleteOrder" method="GET">
            <input class="submit" type="submit" value="Read your order">
</div>
            </form>
            
<div class="hide">
   {{#if message}}
        <h4 ><div class="message2">{{message}}</div></h4>
        {{/if}}
        </div>
    </body>
    </html>
    <div class="half1">
   <h1><em> Our dear customer</em></h1>
   <h2><em> If your order reach 200 ₪ or more, you will get 5% discount.</em></h2>
  <img class="imgD" src="https://public.od.cm4allbusiness.de/.cm4all/uro/BEODP0AVB5Y0/Buttons-Logos/.Gaestehaus-Zeranka-Abschlag5.jpg/scale?_=155213f8d48" alt="discount %5" >
   </div>
