<html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>menu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/menu.css">
  <link rel="stylesheet" href="/style2.css">

</head>
<body >
    <div class="titleB">
                <img src="https://scontent.fjrs1-2.fna.fbcdn.net/v/t1.6435-9/192882024_105769938382721_8408343321821855858_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=hHrsucq2x8YAX-5y0ST&_nc_ht=scontent.fjrs1-2.fna&oh=00_AT83ijIQnksf24jyNNpTWoWwPwAtYskC8dL09by4MmVhoA&oe=6275E483"alt="logo" width="290px" height="290px">
            <dive class="contant">
        <div class="head"id="part">
            <button class="z"><a href="/home"target="_blank" >Home</a></button>
            <button class="z">Menu</button>
            <button class="z"><a href="/Booking"target="_blank" >Booking</a></button>
            <button class="z"><a href="/visit"target="_blank" >Visit</a></button>
            <button class="z"><a href="https://www.google.com/maps/dir/32.2240512,35.2354304/32.2159963,35.2372675/@32.2200835,35.247805,15z/data=!3m1!4b1!4m4!4m3!1m1!4e1!1m0"target="_blank" >location</a></button>              
            <button class="z"><a href="https://www.facebook.com/Whiteloungepal"target="_blank" class="fa fa-facebook"></a></button>
            <button class="z"><a href="https://www.instagram.com/white_lounge/?hl=en"target="_blank" class="fa fa-instagram"></a></button>

        </div>
    </div>
<div class="div"><img class="img" src="https://backend.roya.tv/imagechanger/Size02Q40R169/images/articles/uT3GI6wMws93eo46kZYEotGvaacvLL9AJKefcMGr.jpeg" alt="sandwich" height="185">
 <h1>sandwiches</h1>
 <pre> <input type="checkbox" ><label for=""> boneless chicken    18</label>
 <input type="checkbox"><label for=""> chicken shawarma    18</label>
 <input type="checkbox"><label for=""> burger              18</label>
 <input type="checkbox"><label for=""> fajita              18</label>
     </pre>
    </div>
<div class="div"><img src="https://cdn.al-ain.com/images/2017/12/31/80-001743-the-way-of-vegetable-pizza_700x400.jpeg" alt="fish" class="img" height="200">
 <h1>meals</h1>
<pre><input type="checkbox"> <label for="">fish                  80</label>
<input type="checkbox"><label for=""> mix grill             70</label>
<input type="checkbox"><label for=""> chicken stronanoff    40</label>
<input type="checkbox"><label for=""> fettuccine            30</label>
<input type="checkbox"><label for=""> pizza                 30</label>
    </pre></div>


<div class="div" ><img class="img" src="https://kitchen.sayidaty.net/uploads/small/2d/2d3ca110e699ced93bfdd6f103ab930c_w750_h750.jpg" alt="drink" height="185">
<h1>drinks</h1>
<pre><input type="checkbox"> <label for="">xl                            5</label>
<input type="checkbox"> <label for="">fresh mango                   10</label> 
<input type="checkbox"><label for=""> fresh lemonada with mint      10</label>    
<input type="checkbox"><label for=""> ice coffe                     10</label>
    </pre>
    </div>
    <div class="div"><img class="img" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5PmxEKh24EqVm5rK7TIMbmGRo73nNFcEGsQ&usqp=CAU" alt="cake" height="170">
<h1>sweet cake</h1>
<pre><input type="checkbox"><label for=""> souffle             20</label>
<input type="checkbox"><label for=""> waffle              20</label>
<input type="checkbox"><label for=""> kinder cake         20</label>
<input type="checkbox"><label for=""> orea cake           20</label>
</pre>
</div>

<div class="div"><img class="img" src="https://modo3.com/thumbs/fit630x300/23207/1434194885/%D8%B9%D9%85%D9%84_%D8%A3%D8%B5%D8%A7%D8%A8%D8%B9_%D8%A7%D9%84%D8%AF%D8%AC%D8%A7%D8%AC.jpg" alt="appetizers" height="165">
<h1>appetizers</h1>
<pre><input type="checkbox"><label for=""> chicken fingers           25</label>
<input type="checkbox"><label for=""> kubbeh                    15</label>
<input type="checkbox"><label for=""> potato fries              10</label>
<input type="checkbox"><label for=""> garlic bread              10</label></pre>
    </div>
    <div class="div"><img class="img" src="https://static1.shasha.ps/cachedImages/resize/740/494/shasha_images/large-411618042159981864-jpg-79914149700118646.jpg" alt="shesha" height="165">
<h1>shisha</h1>
<pre><input type="checkbox"><label for=""> lemon and mint             20</label>
<input type="checkbox"><label for=""> melon and mint             20</label>
<input type="checkbox"><label for=""> bluebary                   20</label>
<input type="checkbox"><label for=""> sahm wa qurfa              20</label></pre>
    </div>
    </body>
    </html>
