<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Untitled-2-css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>profile-page</title>
</head>
<body>
    <div class="hedare">
    <img id="img1" src="https://scontent.fjrs26-1.fna.fbcdn.net/v/t39.30808-6/217843818_126505879642460_1038278715321268507_n.jpg?_nc_cat=104&ccb=1-6&_nc_sid=e3f864&_nc_ohc=nxiaPXs3BoEAX8eTaxo&_nc_ht=scontent.fjrs26-1.fna&oh=00_AT-NiXOI74gzK8kW83JaWIF09srdV2Q4KODz45wDXDdHPw&oe=627BF301" alt="drink" height="185">
    <img id="img2" src="https://www.almrsal.com/wp-content/uploads/2018/07/معاني-الصور-الشخصية.jpg"alt="logo" width="290px" height="290px">
<div class="info">
    <h1><em>User name</em></h1>
    <h4><em>Your Email</em></h4>
</div>
    </div>
    
<div class="row">

    <div class="paragraph">
        <p>
            <br> Welcome to our restaurant.<br>
We hope you like it, and enjoy the service :)
        </p>
    </div>
        <div class="profile-tabs">
            <div class="icons">
            <a href="https://www.facebook.com/Whiteloungepal" class="fa fa-facebook"></a>
            <a href="#pablo" class="fa fa-twitter"></a>
            <a href="https://www.instagram.com/white_lounge/?hl=en" class="fa fa-instagram"></a>
            </div>

            <!-- <li class="-item">
                <a class="nav-link" href="#works" role="tab" data-toggle="tab">
                  <i class="material-icons">palette</i>
                    Work
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#favorite" role="tab" data-toggle="tab">
                  <i class="material-icons">favorite</i>
                    Favorite
                </a>
            </li>-->
 
        </div>
</div>
</div>

</body>
</html>