<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Untitled-2-css.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/style3.css">
    <title>profile-page</title>
</head>
<body>
    <div class="hedare">
    <img id="img1" src="https://scontent.fjrs26-1.fna.fbcdn.net/v/t39.30808-6/226674067_130261875933527_3184392304879728102_n.jpg?_nc_cat=104&ccb=1-6&_nc_sid=e3f864&_nc_ohc=O4EoIcg7WkwAX9voYzB&_nc_ht=scontent.fjrs26-1.fna&oh=00_AT-eyMv-JfBfACmwr9Ytu3LICP6XO69OvN9fEbj_etLtOg&oe=6284F805" alt="cover photo" height="185">
    <img id="img2" src="https://www.almrsal.com/wp-content/uploads/2018/07/معاني-الصور-الشخصية.jpg"alt="profile picture" width="290px" height="290px">
<div class="info">
    <h1><em>User name: {{name}}&nbsp{{lastName}}</em></h1>

    <h4><em>Your Email: {{email}}</em></h4>
</div>
    </div>
    
<div class="row">

    <div class="paragraph">
        <p>
            <br> Welcome to our restaurant.<br>
We hope you like it, and enjoy the service :)
        </p>
    </div>
    

            
 
        </div>
</div>
</div>

</body>
</html>