<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style3.css">
    <title>profile-page</title>
</head>
<body>
    
<div class="info">
    <img class="img" src="https://avatars.hsoubcdn.com/012a90b1fd1f8a14f36b40d466a618c9?s=128"alt="profile picture" width="290px" height="290px">
    <div class="div1">
    <h3><em>User name: {{name}}&nbsp{{lastName}}</em></h3>
    </div>
    <div class="div1">
    <h3><em>Your Email: {{email}}</em></h3>
    </div>
</div>
</body>
</html>