<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {{!-- <script src="main.js"></script> --}}
  <link rel="stylesheet" href="/style.css">
    <title>sign up</title>
</head>

<body>
    <div class="sign_up">
        <h1><em>Sign Up</em></h1>
        <form action="/auth/sign_up"method="POST">
           <label for="First Name">First Name</label>
           <input type="text" name="FName" placeholder="First Name">
           <label for="Last Name">Last Name</label>
           <input type="text" name="LName" placeholder="Last Name"> 
           <label for="email">Email</label>
           <input type="email" name="email" placeholder="Email"> 
           <label for="password">Password</label>
           <input type="password" name="password" placeholder="Password">
                          <span toggle="#psw" class="fa fa-fw fa-eye field-icon toggle-password"></span>

           <label for="Confirm Password">Confirm Password</label>
           <input type="password" name="confirmPassword" placeholder="Confirm Password">
           <input type="submit"value="submit">  
      
        </form>
        <div class="message2">
     {{#if message}}
        <h4>{{message}}</h4>
        {{/if}}
        </div>
       
        <p>By clicking the sign up,You agree to our<br>
        <a href="#">Terms and Condition</a>and <a href="#">Policy and Privacy</a>
        <p class="par">Already have an account? <a href="/">Log in</a></p>
        </p>

    
    </div>
    <div  id="validation_box">
<h4>Password Must Contain The Following</h4>
<p id="letter" class="invalid">Lowercase Letters</p>
<p id="capital" class="invalid">Uppercase Letters</p>
<p id="number" class-"invalid">A Number</p>
<p id="length" class="invalid">Atleast 8 Characterk/p>
</div>
</body>
</html>
