<html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visit</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/style2.css">
</head>
<body>
  <div class="titleB">
                <img src="https://scontent.fjrs27-1.fna.fbcdn.net/v/t1.6435-9/192882024_105769938382721_8408343321821855858_n.jpg?_nc_cat=111&ccb=1-6&_nc_sid=09cbfe&_nc_ohc=TnL4AC26VisAX9TD_EC&_nc_ht=scontent.fjrs27-1.fna&oh=00_AT8RE9i9iNtJZixao4dMV1TeOwNgobLc97QaRwHhR2JAWQ&oe=62A16603"alt="logo" width="290px" height="290px">
            <dive class="contant">
        <div class="head"id="part">
            <button class="z"><a href="/home" >Home</a></button>
            <button class="z"><a href="/imgMenu" >Menu</a></button>
            <button class="z"><a href="/Booking" >Booking</a></button>
            <button class="z">Visit</button>
            <button class="z"><a href="https://www.google.com/maps/dir/32.2240512,35.2354304/32.2159963,35.2372675/@32.2200835,35.247805,15z/data=!3m1!4b1!4m4!4m3!1m1!4e1!1m0"target="_blank" >location</a></button>              
            <button class="z"><a href="https://www.facebook.com/Whiteloungepal"target="_blank" class="fa fa-facebook"></a></button>
            <button class="z"><a href="https://www.instagram.com/white_lounge/?hl=en"target="_blank" class="fa fa-instagram"></a></button>

        </div>
    </div>
<div class="imgContainer">
  <img class="w" src="https://gcdnb.pbrd.co/images/zl7H8MbEu2YW.jpg?o=1" alt="white">
  <img class="w" src="https://gcdnb.pbrd.co/images/rkE4lPGZsfbj.jpg?o=1" alt="white">
  <img class="w" src="https://gcdnb.pbrd.co/images/TeaEf4UXDTi9.jpg?o=1" alt="white">
  <img class="w" src="https://gcdnb.pbrd.co/images/fEBDZgbVKjZe.jpg?o=1" alt="white"> 
  <img class="w" src="https://gcdnb.pbrd.co/images/2R5Hbzp89elw.jpg?o=1" alt="white">
   <img  class ="w" src="https://gcdnb.pbrd.co/images/gYsgsydbLiq4.jpg?o=1" alt="white">
</div>
</body>
</html>