<html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Visit</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/style2.css">
</head>
<body>
  <div class="titleB">
                <img src="https://scontent.fjrs1-2.fna.fbcdn.net/v/t1.6435-9/192882024_105769938382721_8408343321821855858_n.jpg?_nc_cat=111&ccb=1-5&_nc_sid=09cbfe&_nc_ohc=hHrsucq2x8YAX-5y0ST&_nc_ht=scontent.fjrs1-2.fna&oh=00_AT83ijIQnksf24jyNNpTWoWwPwAtYskC8dL09by4MmVhoA&oe=6275E483"alt="logo" width="290px" height="290px">
            <dive class="contant">
        <div class="head"id="part">
            <button class="z"><a href="/home"target="_blank" >Home</a></button>
            <button class="z"><a href="/menu"target="_blank" >Menu</a></button>
            <button class="z"><a href="/Booking"target="_blank" >Booking</a></button>
            <button class="z">Visit</button>
            <button class="z"><a href="https://www.google.com/maps/dir/32.2240512,35.2354304/32.2159963,35.2372675/@32.2200835,35.247805,15z/data=!3m1!4b1!4m4!4m3!1m1!4e1!1m0"target="_blank" >location</a></button>              
            <button class="z"><a href="https://www.facebook.com/Whiteloungepal"target="_blank" class="fa fa-facebook"></a></button>
            <button class="z"><a href="https://www.instagram.com/white_lounge/?hl=en"target="_blank" class="fa fa-instagram"></a></button>
<div class="container">
            <button class="but">Profile</button>
            <div class="drop-down">
                <ul>
                    <li>Account</li>
                    <li>logout</li>
                </ul>
            </div>

        </div>
        </div>
    </div>
<div class="imgContainer">
  <img class="w" src="https://scontent.fjrs1-2.fna.fbcdn.net/v/t39.30808-6/277676369_284134613879585_8697503314814061725_n.jpg?_nc_cat=109&ccb=1-5&_nc_sid=730e14&_nc_ohc=NgfXjVSCVBMAX9J3aOo&_nc_ht=scontent.fjrs1-2.fna&oh=00_AT_KrEo7gFcv-73fiKuHQ7SQT3iPqk-h_M8Pvx8zZpivVw&oe=625A6179" alt="white">
  <img  class ="w" src="https://scontent.fjrs1-2.fna.fbcdn.net/v/t39.30808-6/277569826_283773940582319_9167094084038029154_n.jpg?_nc_cat=101&ccb=1-5&_nc_sid=8bfeb9&_nc_ohc=H0bZpvqmuQkAX_kZ7XJ&tn=vgra7pzrQOO_7GW2&_nc_ht=scontent.fjrs1-2.fna&oh=00_AT8AOgVV8uJnrqv4t2xLD2h4stlamnT_Zlr4BBSHMD5QQQ&oe=625B0C9D" alt="white">
  <img class="w" src="https://scontent.fjrs1-2.fna.fbcdn.net/v/t39.30808-6/277798821_284134687212911_6868910825023678411_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=730e14&_nc_ohc=v9So9t0yhz8AX-WgLhm&_nc_ht=scontent.fjrs1-2.fna&oh=00_AT85uUl11NbjECWQ-J3t_CMlqr4nn5MWhiGY34jT2rVouw&oe=62599D03" alt="white">
  <img class="w" src="https://scontent.fjrs1-2.fna.fbcdn.net/v/t39.30808-6/277459167_281531970806516_5490999687055517407_n.jpg?_nc_cat=102&ccb=1-5&_nc_sid=730e14&_nc_ohc=zceqb0W1rCMAX-wHLmQ&tn=vgra7pzrQOO_7GW2&_nc_ht=scontent.fjrs1-2.fna&oh=00_AT8E7Wi55PfkNEFdHB8A92-EFskuRCo03_V_zLfEm2_NLA&oe=625A7B88" alt="white">
  <img class="w" src="https://scontent.fjrs1-2.fna.fbcdn.net/v/t39.30808-6/274632779_262065126086534_2279363855445538832_n.jpg?_nc_cat=107&ccb=1-5&_nc_sid=730e14&_nc_ohc=PedF9poTd84AX8SVVaB&_nc_ht=scontent.fjrs1-2.fna&oh=00_AT8rTGYhuDkJzDGJhphhOp28Svd2nysaMbw-_p8p8f0ikg&oe=625AD818" alt="white"> 
  <img class="w" src="https://scontent.fjrs1-2.fna.fbcdn.net/v/t39.30808-6/276003047_277082651251448_7273157897998318680_n.jpg?_nc_cat=108&ccb=1-5&_nc_sid=730e14&_nc_ohc=fEZEeMoaAIkAX-ZHjB8&_nc_ht=scontent.fjrs1-2.fna&oh=00_AT9abWrwIBf_wGQDkUUEVqC1Gbi4UduxON5JIpeUWtRAMQ&oe=6259D488" alt="white">
</div>
</body>
</html>