
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  
}
body{
  background: url('https://gcdnb.pbrd.co/images/fCCSsRqrvQdm.jpg?o=1');
  background-size:cover ;
}
.container{
  display: flex;
}

.title{
 
  background-color: rgb(41, 41, 40);
  background-size:cover ;
  padding: 220px 0 0 0;
  width: 25%;
  height: 100%;
  border-radius: 5px;
  text-align: left;
  right: 60%;
  position: absolute;
  /* top: 45%; */
  border:1px solid rgb(0, 0, 0);
  text-align: center;


}
.head{
  display: flex;
  position: absolute;
  top: 30px;
  left: 40%;
  color: black;
height: 70px;
width: 1100px;
}
.fa {
  font-size: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  text-decoration: none;
}
.fa:hover {
  opacity: 0.7;
}
.fa-facebook {
  padding: 3px; 
  background: #3B5998;
  color: white;
}

.fa-instagram {
  padding: 1px;
  background: #da286c;
  color: white;
}
.fa-user{
color: white;
}

/* booking--------------------------- */

.Table{
  width: 500px;
  height: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  margin: auto;
  background-color: rgba(111, 110, 108, 0.534);
  border-radius: 3px;
  border: 1px solid rgb(194, 190, 190);
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  color: rgb(0, 0, 0);


}
.Table h1{
text-align: center;

}
.column{
display: flex;

}
.column h4{
margin-left: 50px;
}

label{
width: 200px;
color: white;

}
a{
color: black;
text-decoration: none;

}

.container{
display: flex;
}
.order_contain{
  display: flex;
  margin-left: 270px;

}
.submit{
  background-color: rgb(0, 0, 0);
  padding: 5px  ;  
  width: 150px;
  margin-left: 50px;
  color: white;
  font-weight: bold;
  font-size: medium;
  height: 40px;
}
#part{
left: 30%;
}
h1{
  color: white;

}
.titleB img{
width: 120px;
height: 120px;
margin: 10px;
border-radius: 150px;

}

/* ---------------- */

.head{
display: flex;
position: absolute;
top: 30px;
left: 40%;
color: black;
height: 70px;
width: 1100px;
}

.z{
  font-size: large;
  color: black;
  margin-left: 30px;
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(0, 0, 0, 0);
  cursor: pointer;
}

.z:hover{
  opacity: 0.7;
}


.imgContainer{
  
  margin-left: 50px;

}
.title img{
border-radius: 150px;
}
.w{
 padding: 10px 0 0 15px;
  width: 420;
  height: 300;
}
.containerr{
position: relative;
left: 130px;
top: -25px;
}
input{
  width: 50px;
  height: 28px;
  margin: 2px 5px 0 5px;
  color: black;
}
.flex{
  display: inline;
}
h4{
 display: inline;
float: right;
  margin: 7px 600px 0 0;
}
label{
  margin: 0;
}
.img{
  width: 300px;
  height: 200px;
  float: right;
}
    .div{
      width: 90%;
      height: 210px;
      border:5px solid black;
      margin:20px 20px 20px 50px;
      background-color:rgba(87, 85, 81, 0.534) ;
    }
    h1{
      margin-left: 30px;
      
    }
    .hide{
      animation: cssAnimation 0s 2.5s forwards;
      visibility: visible;
    }
    
    @keyframes cssAnimation {
      to   { visibility: hidden; }
    }
    .message2{

      background-color: rgb(70, 65, 65);
      width: 500px;
      height: max-content;
      text-align: center;
      padding: 10px;
      font-size: x-large;
border: 1px solid white;
border-radius: 3px;
position: absolute;
top: 20%;
left: 30%;
padding: 30px 5px 30px 5px;
    }
    
    .half1
    {
         width: 100%;
         height:300px;
         border:2px solid black;
         margin-top:20px ;
         background-color:rgb(7, 7, 7) ;
         padding: 30px 10px 10px 10px;
         color: white;
         position: relative;
         top: 80px;
  
    }
      .imgD{
        width: 150px;
        height: 150px;
        position: relative;
        left: 1100px;
        top: -80px;
        border-radius: 200px;
      }