
body{
    background:url('https://scontent.fjrs27-1.fna.fbcdn.net/v/t39.30808-6/277754094_285942707032109_3283268044703114621_n.jpg?_nc_cat=100&ccb=1-7&_nc_sid=730e14&_nc_ohc=HT__isnPlT4AX8KKW87&_nc_ht=scontent.fjrs27-1.fna&oh=00_AT80oObWQW8eBFYLq1ujHaYC2JSeVcQlzVYigXuDd-UIsQ&oe=629542D6') ;
      background-size:cover ;
      width: 1000px;
    }
  
.img{
    width: 175px;
    height: 170px;
    border-radius: 200px;
    margin-top: 2%;
    margin-left:30%;
}

.info{
    /* font-family: Arial, Helvetica, sans-serif; */
    /* text-align: center; */
    width: 50%;
    height:60% ;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin-top: 3%;
    border-radius: 3px;
    background-color:rgba(255, 255, 255, 0.151) ;
    border: 1px solid rgb(194, 190, 190);
}
/* .div{
    width:40%;
    height: 10%;
    border: 2px solid rgba(0, 0, 0, 0.637);
    background-color:rgba(0, 0, 0, 0.151);
    margin-left: 55%;
   margin-top: 0%;
} */
.div1{
    width:40%;
    height: 13%;
    border: 2px solid rgba(0, 0, 0, 0.76);
    background-color:rgba(0, 0, 0, 0.151);
    margin-left: 25%;
    margin-top: 4%;
}
h3{
    color: white;
  }
