body{
  background:url('https://gcdnb.pbrd.co/images/r6rPeOlyBZeW.jpg?o=1') ;
    background-size:cover ;
    width: 1460px;
  }
  .tab4 {
    tab-size: 8;
    display: inline-block;
    margin-left: 220px;
    margin-bottom: 50px;
    
  }
    
  .tabel img{
    width: 120px;
    height: 120px;
    margin: 10px;
    border-radius: 150px;
  }
  
  .half1
  {
       width: 80%;
       height: 202px;
       border:5px solid black;
       margin:20px 20px 20px 50px;
       background-color:rgba(87, 85, 81, 0.534) ;

  }
    .img{
      width: 300px;
      height: 200px;
      float: right;
    }
 

 