*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background:url('https://gcdnb.pbrd.co/images/4QxqIdzlYD21.jpg?o=1') ;
    background-size:cover ;
}
.message1{
    position: absolute;
    top: 77%;
    left: 20%;
}
.message2{
    position: absolute;
    top: 69%;
    left: 26%;
}
.message1 h4{
    color: rgb(247, 28, 28);
    font-size:small;
}
.message2 h4{
    color: rgb(247, 28, 28);
    font-size:small;
}
.welcom{
    
    position: absolute;
    top: 50%;
    left: 40%;
}
.welcom h1{
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.sign_up{
    width: 360px;
    height: 620px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;
    background-color: rgb(243, 232, 212);
    border-radius: 3px;
    border: 1px solid rgb(194, 190, 190);
}
.login{
    width: 360px;
    height:300px ;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: auto;
    border-radius: 3px;
    background-color:rgb(243, 232, 212) ;
    border: 1px solid rgb(194, 190, 190);


}
.Forgot_Password{
    width: 370px;
    height:280px ;
    top: 50%;
    left: 50%;
    background-color: rgb(243, 232, 212);
    transform: translate(-50%,-50%);
    position: absolute;
    color: rgb(0, 2, 3);
    margin: auto;
    border-radius: 3px;
    border: 1px solid rgb(194, 190, 190);

}
.field-icon{
    float: right;
    margin-top: -25px;
    margin-right: 5px;
    position: relative;
    z-index: 2;
 }
 #validation_box{
     display: none; 
    background-color: rgb(243, 232, 212);
    border-radius: 3px;
    border: 1px solid rgb(194, 190, 190);

    position: absolute;
    top:50%;
    left:65%;
    padding: 10px;
    margin-top:4px;
    text-align:center;
 }
 .valid{
    color:#7fcf35
}

.valid:before{
position: relative;
 Left: -8px;
 content: url(true.png);
 top:3px;
}

.invalid::before{
    position: relative;
     Left: -8px;
     top: 3px;
     content: url(false.png);
}
h1{
    text-align: center;
    padding-top: 15px;

}
h4{
    text-align: center;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;
    font-size: 18px;

}
form input{
    width: 100%;
    padding: 8px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}
input[type="submit"]{
    width: 320px;
    height: 35px;
    margin-top: 20px ;
    border: none;
    background-color: rgb(60, 161, 207);
    color: white;
    font-size: 18px;

}
p{
    text-align: center;
    padding-top: 20px;
    font-size: 15px;

}
.par{
   text-align: center;
   font-size: 15px;
    margin-top: -10px;
}
 a{
    color:rgb(60, 161, 207) ;
    text-decoration: none;

}

.icon{
    text-align: center;
}
.icon i{
    size:x-large;
}
